@import url('https://fonts.googleapis.com/css?family=Catamaran|Muli');

html,
body {
    min-width: 260px;
}

.container {
    width: 1260px;
    margin: 0 auto;
    width: 100%;
}



/* Типография */
.offer h2 {
    font-size: 60px;
    font-family: 'Catamaran', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.5;

}

.offer p {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    color: rgb(86, 86, 86);
    line-height: 1.778;
    text-align: center;
}

.crew h2 {
    font-size: 60px;
    font-family: 'Catamaran', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.5;
}

.about h2 {
    font-size: 60px;
    font-family: 'Catamaran', sans-serif;
    color: rgb(47, 47, 47);
    line-height: 1.2;
    text-align: left;
}

.about p {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    color: rgb(43, 43, 43);
    line-height: 1.778;
    text-align: left;
}

.testimonials h2 {
    font-size: 60px;
    font-family: 'Catamaran', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.5;
}

.testimonials p {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    color: rgb(86, 86, 86);
    line-height: 1.778;
    text-align: center;
}

.contact h2 {
    font-size: 60px;
    font-family: 'Catamaran', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.header p {
    font-size: 24px;
    font-family: 'Muli', sans-serif;
    color: rgb(254, 254, 254);
    line-height: 1.5;

}

.contact p {
    font-size: 18px;
    font-family: "Muli";
    color: rgb(247, 247, 247);
    text-transform: uppercase;
    line-height: 1.444;
    text-align: left;
}

.header {
    background-image: url(img/header-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
    padding: 27px 119.6px 342px 121.5px;

    .container_nav {
        max-width: 1680px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;


        .logo {
            max-width: 156px;
            height: 29.5px;
        }


        nav {
            .nav__list {
                list-style: none;

                .nav__item {
                    display: inline-block;

                    .nav__link {
                        display: inline-block;
                        text-decoration: none;
                        font-size: 16px;
                        font-family: "Muli";
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                        padding: 10px 10px 10px 10px;

                        &:hover {
                            background-color: #5da1c8;
                        }
                    }


                }
            }

        }

    }

    .container {
        width: 1260px;
        margin: 0 auto;
        width: 100%;

        h1 {
            font-size: 24px;
            font-family: 'Muli', sans-serif;
            color: rgb(254, 254, 254);
            line-height: 1.5;
            width: 50%;
            font-weight: 400;
            margin-top: 450px;
            margin-bottom: 50px;
        }

        .btn-header {
            font-size: 18px;
            font-family: 'Catamaran', sans-serif;
            color: rgb(254, 254, 254);
            font-weight: bold;
            text-transform: uppercase;
            top: 676px;
            width: 240px;
            height: 60px;
            border-radius: 6px;
            background-color: rgb(255, 105, 15);
            box-sizing: border-box;
            margin: 0 auto;
        }
    }

}



main {
    width: 100%;

    .offer {
        background-color: #f7f7f7;
        text-align: center;
        padding: 95.5px 80px 154px 80px;

        .offer_list {
            display: flex;
            justify-content: space-between;
            margin-top: 57px;

            .btn_offer_list {
                font-size: 15px;
                font-family: 'Catamaran', sans-serif;
                color: rgb(254, 254, 254);
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                border-radius: 6px;
                background-color: rgb(255, 105, 15);
                width: 120px;
                height: 50px;

                .offer_item {
                    p {
                        font-size: 14px;
                        font-family: 'Muli', sans-serif;
                        color: rgb(86, 86, 86);
                        line-height: 6.429;

                    }

                    h3 {
                        font-size: 24px;
                        font-family: 'Catamaran', sans-serif;
                        color: rgb(51, 51, 51);
                        line-height: 1.2;
                        text-align: center;
                        font-weight: 900;

                    }
                }
            }
        }
    }

    .gallery-wrapper {
        background-size: cover;
        height: 1256px;
        width: 100%;
        display: grid;
        justify-items: stretch;
        grid-template-areas:
            'ph-1 ph-2 ph-3'
            'ph-4 ph-5 ph-3'
            'ph-4 ph-6 ph-7';
        grid-template-rows: repeat (3, 1fr);
        grid-template-columns: repeat (3, 1fr);

        .gallery-photo1 {
            grid-area: ph-1;
            background-image: url(img/max-kukurudziak-607806-unsplash.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }

        .gallery-photo2 {
            grid-area: ph-2;
            background-image: url(img/sports-2982378_1920.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }

        .gallery-photo3 {
            grid-area: ph-3;
            background-image: url(img/Brightness_Contrast2.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }

        .gallery-photo4 {
            grid-area: ph-4;
            background-image: url(img/fezbot2000-783167-unsplash.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }

        .gallery-photo5 {
            grid-area: ph-5;
            background-image: url(img/snowboard-113784_1920.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;


        }

        .gallery-photo6 {
            grid-area: ph-6;
            background-image: url(img/naomi-hutchinson-409309-unsplash.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }

        .gallery-photo7 {
            grid-area: ph-7;
            background-image: url(img/joshua-reddekopp-217223-unsplash.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }

    }


    .crew-wrapper {
        padding: 162px 205px 164px 208px;
        text-align: center;

        .instructors {
            display: flex;
            flex-flow: row nowrap;

            .instructor-item {
                margin: 32px;
            }
        }

    }

    .about-wrapper {
        background-image: url(img/IMAGE.png);
        background-size: 100% 100%;
        padding: 223px 600px 300px 208px;

    }

    .testimonials {
        padding: 162px 540px 165px 549px;
        text-align: center;
    }



    .footer {
        height: 642px;
        background-color: #2f2f2f;
        display: flex;
        flex-direction: row;

        .contact-wrapper{
            padding: 0 168px 96px 117.94px;
            background-color: #2f2f2f;
            width: 50%;

            .contact-wrapper img {
                margin-right: 15px;
            }
        }
        .yandex-map {
            width: 50%;
        }

    }
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.active,
.dot:hover {
    background-color: #ff630b;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}