@import url('https://fonts.googleapis.com/css?family=Catamaran|Muli');

html,
body {
    min-width: 260px;
}




/* Типография */
.offer-wrapper h2 {
    font-size: 60px;
    font-family: 'Catamaran', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.5;

}

.offer-wrapper p {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    color: rgb(86, 86, 86);
    line-height: 1.778;
    text-align: center;
}

.crew h2 {
    font-size: 60px;
    font-family: 'Catamaran', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.5;
}

.about h2 {
    font-size: 60px;
    font-family: 'Catamaran', sans-serif;
    color: rgb(47, 47, 47);
    line-height: 1.2;
    text-align: left;
}

.about p {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    color: rgb(43, 43, 43);
    line-height: 1.778;
    text-align: left;
}

.testimonials h2 {
    font-size: 60px;
    font-family: 'Catamaran', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.5;
}

.testimonials p {
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    color: rgb(86, 86, 86);
    line-height: 1.778;
    text-align: center;
}

.contact h2 {
    font-size: 60px;
    font-family: 'Catamaran', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.header p {
    font-size: 24px;
    font-family: 'Muli', sans-serif;
    color: rgb(254, 254, 254);
    line-height: 1.5;

}

.contact p {
    font-size: 18px;
    font-family: "Muli";
    color: rgb(247, 247, 247);
    text-transform: uppercase;
    line-height: 1.444;
    text-align: left;
}

.header {
    background-image: url(img/header-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;




    .container_nav {
        position: fixed;
        background-image: url(img/background-blue.png);
        min-width: 100%;
        max-width: 1680px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        height: 100px;

        .logo {
            max-width: 156px;
            height: 29.5px;
            margin-top: 30px;
        }


        nav {

            .nav__list {
                list-style: none;

                .nav__item {
                    display: inline-block;

                    .nav__link {
                        display: inline-block;
                        text-decoration: none;
                        font-size: 16px;
                        font-family: "Muli";
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                        padding: 10px 10px 10px 10px;
                        margin-top: 12px;

                        &:hover {
                            background-color: #5da1c8;
                        }
                    }


                }
            }

        }

    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;


        .closebtn {
            position: absolute;
            padding: 20px;
            font-size: 50px;
            top: 20px;
            right: 45px;
            color: #ffff;
            font-weight: 900;

        }

        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
            text-decoration: none;

        }



    }

    .container {
        max-width: 1260px;
        margin: 0 auto;
        width: 100%;

        h1 {
            font-size: 24px;
            font-family: 'Muli', sans-serif;
            color: rgb(254, 254, 254);
            line-height: 1.5;
            width: 50%;
            font-weight: 400;
            margin-top: 450px;
            margin-bottom: 50px;
        }

        .btn-header {
            font-size: 18px;
            font-family: 'Catamaran', sans-serif;
            color: rgb(254, 254, 254);
            font-weight: bold;
            text-transform: uppercase;
            top: 676px;
            width: 240px;
            height: 60px;
            border-radius: 6px;
            background-color: rgb(255, 105, 15);
            box-sizing: border-box;
            margin: 0 auto;
            margin-bottom: 340px;
        }
    }


}



main {


    .offer-wrapper {
        background-color: #f7f7f7;
        text-align: center;
        padding: 95.5px 80px 154px 80px;


        .offer_list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 57px;


            .btn_offer_list {
                font-size: 15px;
                font-family: 'Catamaran', sans-serif;
                color: rgb(254, 254, 254);
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                border-radius: 6px;
                background-color: rgb(255, 105, 15);
                width: 120px;
                height: 50px;



                .offer_item {
                    p {
                        font-size: 14px;
                        font-family: 'Muli', sans-serif;
                        color: rgb(86, 86, 86);
                        line-height: 6.429;

                    }

                    h3 {
                        font-size: 24px;
                        font-family: 'Catamaran', sans-serif;
                        color: rgb(51, 51, 51);
                        line-height: 1.2;
                        text-align: center;
                        font-weight: 900;

                    }


                }
            }
        }
    }

    .gallery-wrapper {

        width: 100%;
        display: grid;
        justify-items: stretch;
        grid-template-areas:
            'ph-1 ph-2 ph-3'
            'ph-4 ph-5 ph-3'
            'ph-4 ph-6 ph-7';
        grid-template-rows: repeat (3, 1fr);
        grid-template-columns: repeat (3, 1fr);


        img {
            object-fit: cover;
            width: 100%;
            height: 100%;

        }

        .gallery-photo1 {
            grid-area: ph-1;

        }

        .gallery-photo2 {
            grid-area: ph-2;


        }

        .gallery-photo3 {
            grid-area: ph-3;


        }

        .gallery-photo4 {
            grid-area: ph-4;


        }

        .gallery-photo5 {
            grid-area: ph-5;



        }

        .gallery-photo6 {
            grid-area: ph-6;


        }

        .gallery-photo7 {
            grid-area: ph-7;

        }

    }


    .crew-wrapper {
        padding: 162px 205px 164px 208px;
        text-align: center;

        .instructors {
            display: flex;
            flex-direction: row;

            .instructor-item {
              
            }
            

        }

        .about-wrapper {
            background-image: url(img/IMAGE.png);
            background-size: 100% 100%;
            padding: 223px 600px 300px 208px;

        }

        .testimonials {
            padding: 162px 540px 165px 549px;
            text-align: center;
        }

    }

    .footer {
        height: 642px;
        background-color: #2f2f2f;
        display: flex;
        flex-direction: row;

        .contact-wrapper {
            padding: 0 168px 96px 117.94px;
            background-color: #2f2f2f;
            width: 50%;

            .contact-wrapper img {
                margin-right: 15px;
            }
        }

        .yandex-map {
            width: 50%;
        }

    }


    * {
        box-sizing: border-box
    }




    .overlay a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .overlay a:hover {
        color: #f1f1f1;

    }

    .burger_menu {
        display: none;
    }

    i {
        color: #ffff;
        margin: 20px;
    }

    i:hover {
        color: #ff660d;
    }

    .overlay-content a:hover,
    .overlay-content a:focus {
        text-transform: uppercase;

    }


    @media (max-width: 805px) {
        .burger_menu {
            display: block;
        }

        .nav {
            display: none;
        }

        main .offer-wrapper .offer_list {
            flex-direction: column;
        }

        .offer_item {
            margin-top: 40px;
        }



    }